# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Distribution and build artifacts
dist/
mlc_llm-utils-win-x86-01_31_2025/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
